@import 'material-icons-font';
@import 'theme';
@import 'variables';
@import 'bootstrap';
@import 'bootswatch';
@import 'media-queries';
@import 'navbar';
@import 'sticky-footer';

html, body {
  min-width: 1024px; /* suppose you want minimun width of 1000px */
  width: auto !important; /* Firefox will set width as auto */
  width: 1024px; /* As IE ignores !important it will set width as 1000px; */
}

.modal-loader {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url('/images/ring.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body {
  color: $dark-grey;
  padding-top: 70px; //required when using navbar fixed
  .loading {
    overflow: hidden;
  }
}

//toast notification
#toast-container > div {
  margin: 0 0 6px;
  padding: 16px 15px 9px 50px !important;
  width: 50% !important;
  opacity: .9 !important;
}

.no-hover:hover {
  border-bottom: none !important;
}

.no-margin {
  margin: 0 !important;
}

.btn-action {
  background-color: $solid-green;
  color: #fff;
}

.btn-action-inverse {
  background-color: $light-purple;
  color: #fff;
}

.btn-action:hover {
  background-color: $light-green;
  color: $dark-grey;
}

.panel-default > .panel-heading {
  //background-color: $light-green;
  color: $dark-grey;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loader {
  display: block;
}

.container-fluid {
  padding: 0;
}

.page-title {
  //font-size: 30px;
  margin: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  color: $dark-grey !important;
}

label {
  font-weight: bold;
  font-size: 16px;
}

.footer {
  background-color: $deep-purple;
  color: #fff;
}

.page-login {
  .panel-body {
    min-height: 320px;
  }
  .panel-body.page-login__google-login {
    text-align: center;
    position: relative;
  }
}

.page-create-project {
  .access-title {
    font-weight: bold;
    font-size: 16px;
  }
  .form-horizontal .has-feedback .form-control-feedback {
    right: 0;
  }
  .has-feedback .form-control-feedback {
    top: 40px;
  }
  .fa-circle-o-notch {
    color: $light-green !important;
  }
}


.page-project-settings {

  td.project-logo {
    width: 200px;
  }

  a.list-group-item {
    padding: 5px 10px;
    color: $deep-purple;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  i.material-icons {
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 4px;
  }
  .table-responsive .btn {
    min-width: 70px;
    margin-bottom: 5px;
  }

  /* Hide for mobile, show later */
  .sidebar {
    //display: none;
  }
  @media (min-width: 992px) {
    .sidebar {
      position: fixed;
      top: 60px; //height of navbar
      bottom: 0;
      left: 0;
      //z-index: 1000; check this, it overlaps the footer otherwise
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      //background-color: $light-green;
      border-right: 1px solid #eee;
    }
  }

  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }

  .main {
    //padding: 20px;
  }
  @media (min-width: 992px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .main .page-header {
    margin-top: 0;
  }

  .project-details-panel {
    .btn {
      margin-top: -4px;
    }
  }
}

.page-manage-users {
  .tab-content {
    padding: 10px;
    .panel-heading {
      min-height: 60px;
      span {
        line-height: 3;
      }
    }
    .panel-body {
      min-height: 200px;
    }
  }
}